@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", "sans-serif";
}
.view-toggle {
  display: flex;
  justify-content: flex-end;
}
.view-toggle-switch {
  display: flex;
  width: 8vw;
  justify-content: center;
  align-items: center;
}
.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
  margin-right: 0.5rem;
}
.icon-bg-selected {
  background-color: rgb(238, 228, 88);
}

.notes-deck-list-view {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: flex-start;
}
.note-card-list-view {
  position: relative;
  margin: 1rem 0.5rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgb(238, 228, 88);
  padding: 0.5rem;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.icon-div-list-view {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 0.4rem;
  padding-right: 0.2rem;
}
.note-body-list-view {
  display: none;
}
.switchMode {
  display: inline-block;
  height: fit-content;
  margin: 0.1rem;
  transition: background 0.2s linear;
}
.switchMode .dark {
  background-color: #292c35;
}
.switchMode .checkbox {
  opacity: 0;
  position: absolute;
}

.switchMode .label {
  width: 2.5rem;
  height: auto;
  background-color: #111;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.switchMode .ball {
  width: 1.35rem;
  height: 1.35rem;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.switchMode .checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.switchMode .fa-moon {
  color: pink;
}

.switchMode .fa-sun {
  color: yellow;
}
.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
  min-height: 85vh;
  width: 50vw;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(238, 228, 88);
}
/* Header syling */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h3 {
  margin: 0;
  font-size: 1.2rem;
}
.btn {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  background-color: black;
  border: 0;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
/* Notelis styling */
.notes-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
/* Note styling */
.note-card {
  position: relative;
  margin: 1rem 0.5rem;
  height: auto;
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgb(238, 228, 88);
  padding: 0.5rem;
}
.note-head {
  font-size: 1.2rem;
  font-weight: bold;
  width: 80%;
}
.note-body {
  /* border: 1px solid rgb(238, 228, 88); */
  padding: 0.2rem 0;
  word-break: break-word;
  max-height: 10vh;
  overflow-y: auto;
}
.note-icon {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: "50%";
  background-color: black;
  color: white;
}
/* Footer styling */
footer {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
}
/* Addnote styling */
input[type="text"],
textarea {
  width: 100%;
  border: 1px solid rgb(238, 228, 88);
  padding: 0.3rem 0.2rem;
  margin-bottom: 0.3rem;
}
/* Editnote styling */
.editNoteForm {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .App {
    width: 70vw;
  }
  .note-card {
    width: 42%;
  }
  .notes-deck {
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .App {
    width: 80vw;
  }
  .notes-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .note-card {
    width: 45%;
    margin: 1rem 0;
  }
  footer {
    width: 100%;
    text-align: start;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .App {
    width: 70vw;
  }
  .notes-deck {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .note-card {
    width: 96%;
    margin: 1rem 0;
  }
  footer {
    width: 100%;
    text-align: start;
    font-size: 0.9rem;
  }
}
